<div class="app-services-update-detail" *ngIf="service; else loadingService">
	<h3 class="update-detail-header">{{service.label}}</h3>
	<form class="update-detail-form" [formGroup]="f" #sForm="ngForm" (ngSubmit)="submit()" enctype="maltipart/form-data">
		<div class="form-field">
			<label class="input-label" for="label">Label/Title*:</label>
			<input class="input-text" id="label" type="text" name="label"
				[(ngModel)]="service.label" formControlName="label" placeholder="Enter the Label/Title of the service" required>
			<span class="form-error" [hidden]="f.get('label').valid || (f.get('label').pristine && !sForm.submitted)">Title is required</span>
		</div>

		<div class="form-field">
			<label class="input-label" for="cost">Cost KSHS*:</label>
			<input class="input-text" id="cost" type="number" name="cost"
				[(ngModel)]="service.service_fee" formControlName="service_fee" placeholder="Cost in KSHS" required>
			<span class="form-error" [hidden]="f.get('service_fee').valid || (f.get('service_fee').pristine && !sForm.submitted)">Cost is required</span>
		</div>

		<div class="form-field-textarea">
			<label class="input-label" for="desc">Description*:</label>
			<textarea id="desc" name="desc"
				formControlName="description"
				[(ngModel)]="service.description" placeholder="Features or Intent" required></textarea>
			<span class="form-error" [hidden]="f.get('description').valid || (f.get('description').pristine && !sForm.submitted)">Description is required</span>
		</div>
		<div class="form-field">
			<label class="input-label" for="image-fiel">Image (.png, .jpeg or .jpg)*:</label>
			<input type="hidden" id="image" name="image" formControlName="image"
				[(ngModel)]="service.image">
			<input type="file" id="image-file" name="image-file" accept="image/*"
				(change)="uploadImage($event.target.files)">
			<span class="form-error" [hidden]="f.get('image').valid || (f.get('image').pristine && !sForm.submitted)">A valid image is required!</span>
		</div>
		<div class="img-field" *ngIf="service.image">
			<img class="service_img" src="../assets/service-imgs/{{service.image}}" alt="{{service.label}}">
		</div>
		<div class="form-field">
			<button class="input-btn" *ngIf="service.id" (click)="fAction = 'delete'">Delete Service</button>
			<button class="input-btn" *ngIf="service.id" (click)="fAction = 'update'"
				[disabled]="sForm.invalid">Update Service</button>
			<button class="input-btn" *ngIf="!service.id" (click)="fAction = 'add'"
				[disabled]="sForm.invalid">Add Service</button>
		</div>
	</form>
</div>
<ng-template #loadingService><i>Loading Service...</i></ng-template>