<div class="app-account" *ngIf="profile; else loadingProfile">
	<h2>{{title}}</h2>
	<form [formGroup]="pf" #pform="ngForm" (ngSubmit)="update()">
		<div class="form-field">
			<label class="input-label" for="fullname">Full Name:</label>
			<input class="input-text" id="fullname" type="text" name="full"
				formControlName="fullname" [(ngModel)]="profile.fullname" placeholder="Enter Full Name" required>
			<span class="form-error" [hidden]="pf.get('fullname').valid || (pf.get('fullname').pristine && !pform.submitted)">Full Name is required</span>
		</div>
		<div class="form-field">
			<label class="input-label" for="contact">Contact:</label>
			<input class="input-text" id="contact" type="text" name="label"
				formControlName="contact" [(ngModel)]="profile.contact" placeholder="e.g phone or email" required>
			<span class="form-error" [hidden]="pf.get('contact').valid || (pf.get('contact').pristine && !pform.submitted)">Contact is required</span>
		</div>
		<div class="form-field">
			<label class="input-label" for="address">Address:</label>
			<input class="input-text" id="address" type="text" name="label"
				formControlName="address" [(ngModel)]="profile.address" placeholder="Enter your Location" required>
			<span class="form-error" [hidden]="pf.get('address').valid || (pf.get('address').pristine && !pform.submitted)">Address is required</span>
		</div>
		<div class="form-field">
			<label class="input-label" for="username">User Name:</label>
			<input class="input-text" id="username" type="text" name="label"
				formControlName="username" [(ngModel)]="profile.username" placeholder="Enter User Name" required>
			<span class="form-error" [hidden]="pf.get('username').valid || (pf.get('username').pristine && !pform.submitted)">User Name is required</span>
		</div>
		<div class="form-field">
			<label class="input-label" for="password">New Password (Optional):</label>
			<input class="input-text" id="npassword" type="password" name="npassword"
				formControlName="npassword" placeholder="Enter New Password">
			<span class="form-error" [hidden]="pf.get('npassword').valid || (pf.get('npassword').pristine && !pform.submitted)">Password is required</span>
		</div>
		<div class="form-field">
			<label class="input-label" for="password">Password:</label>
			<input class="input-text" id="password" type="password" name="label"
				formControlName="password" placeholder="Enter Current Password" required>
			<input type="hidden" name="pass" formControlName="pass">
			<span class="form-error" [hidden]="pf.get('password').valid || (pf.get('password').pristine && !pform.submitted)">Password is required</span>
			<span class="form-error" [hidden]="!pf.hasError('incorrect') || (pf.pristine && !pform.submitted)">Account Password Invalid</span>
		</div>
		<div class="form-field">
			<button class="input-btn" type="submit" [disabled]="pform.invalid">Update</button>
			<button class="input-btn" type="button" (click)="delete()" [disabled]="pf.hasError('incorrect')">Deactivate Account</button>
		</div>
	</form>
</div>
<ng-template #loadingProfile><i>Loading profile...</i></ng-template>