<div class="app-main-about">
	<h2 class="about-header">About Us</h2>
	<p>
		Home Service System is a platform where people can transact online, request for services at the convenience of their homes. The services include house ronovation, laundry, electrical services and mechanical services Our clients are among home ownerstenants and organizations. Our company has trained personnel who perform all these tasks
	</p>
	<h3>Vision</h3>
	<p>To provide a wide access and world-class  services that delights our customers.</p>
	<h3>Mission</h3>
	<p>To provide quality and timely services to users.</p>
	<h3>Core values</h3>
	<ul>
		<li>Customer first</li>
		<li>One team</li>
		<li>Passion</li>
		<li>Integrity</li>
		<li>Excellence</li>
	</ul>
	<h3>Quality policy</h3>
	<p>
		We are committed to providing high quality customer service by efficiently providing qualified personnel to perform tasks for our customers.The board, management and staff of house service system are committed to effective implementation and continual improvement of quality management system in order to consistently meet its customers and stakeholders requirements and expectations.
	</p>
	<h2>Contact Us</h2>
	<ul class="contact-items">
		<li class="contact"><a class="link" target="_blank" href="mailto:marionjepchumba@gmail.com">Email Us</a></li>
		<li class="contact"><a class="link" target="_blank" href="https://facebook.com/maryelymo">Facebook</a></li>
		<li class="contact"><a class="link" target="_blank" href="https://twitter.com/marionlimo">Twitter</a></li>
	</ul>
</div>		