<div class="app-auth">
	<div class="auth" *ngIf="!reg">
		<h2>Login</h2>
		<form [formGroup]="lf" #lForm="ngForm" (ngSubmit)="login()">
			<div class="form-field">
				<label class="input-label" for="username">User Name:</label>
				<input class="input-text" id="username" type="text" name="username"
					formControlName="username" placeholder="Enter User Name" required>
				<span class="form-error" [hidden]="lf.get('username').valid || (lf.get('username').pristine && !lForm.submitted)">User Name is required</span>
			</div>
			<div class="form-field">
				<label class="input-label" for="password">Password:</label>
				<input class="input-text" id="password" type="password" name="password"
					formControlName="password" placeholder="Enter Password" required>
				<span class="form-error" [hidden]="lf.get('password').valid || (lf.get('password').pristine && !lForm.submitted)">Password is required</span>
			</div>
			<div class="form-field">
				<button [disabled]="lForm.invalid">Login</button>
				Don't Have an Account? <a class="link" (click)="reg = !reg">Register</a>
			</div>
		</form>
	</div>
	<div class="auth" *ngIf="reg">
		<h2>Sign Up here to be Assigned Jobs</h2>
		<form [formGroup]="rf" #rForm="ngForm" (ngSubmit)="register()">
			<div class="form-field">
				<label class="input-label" for="fullname">Full Name:</label>
				<input class="input-text" id="fullname" type="text" name="full"
					formControlName="fullname" placeholder="Enter Full Name" required>
				<span class="form-error" [hidden]="rf.get('fullname').valid || (rf.get('fullname').pristine && !rForm.submitted)">Full Name is required</span>
			</div>
			<div class="form-field">
				<label class="input-label" for="contact">Contact:</label>
				<input class="input-text" id="contact" type="text" name="contact"
					formControlName="contact" placeholder="e.g phone or email" required>
				<span class="form-error" [hidden]="rf.get('contact').valid || (rf.get('contact').pristine && !rForm.submitted)">Contact is required</span>
			</div>
			<div class="form-field">
				<label class="input-label" for="address">Address:</label>
				<input class="input-text" id="address" type="text" name="address"
					formControlName="address" placeholder="Enter your Location" required>
				<span class="form-error" [hidden]="rf.get('address').valid || (rf.get('address').pristine && !rForm.submitted)">Address is required</span>
			</div>
			<div class="form-field">
				<label class="input-label" for="username">User Name:</label>
				<input class="input-text" id="username" type="text" name="lusername"
					formControlName="username" placeholder="Enter User Name" required>
				<span class="form-error" [hidden]="rf.get('username').valid || (rf.get('username').pristine && !rForm.submitted)">User Name is required</span>
			</div>
			<div class="form-field">
				<label class="input-label" for="password">Password:</label>
				<input class="input-text" id="password" type="password" name="password"
					formControlName="password" placeholder="Enter Password" required>
				<span class="form-error" [hidden]="rf.get('password').valid || (rf.get('password').pristine && !rForm.submitted)">Password is required</span>
			</div>
			<div class="form-field">
				<button [disabled]="rForm.invalid">Register</button>
				Already have an Account? <a class="link" (click)="reg = !reg">Login</a>
			</div>
		</form>
	</div>
</div>
