<div class="app-services-service-detail" *ngIf="order && !requesting; else loadingService">
	<h3 class="service-detail-header">{{title}}</h3>
	<p>{{order.product.description}}</p>
	<ul class="service-detail">
		<li class="detail-item">Cost: Kshs. {{order.product.service_fee}}</li>
	</ul>
	<h4>Request Service here</h4>
	<form [formGroup]="f" #bForm="ngForm" (ngSubmit)="book()" enctype="maltipart/form-data">
		<div [formGroup]="f.get('client')">
			<div class="form-field">
				<label class="input-label" for="name">Name*:</label>
				<input type="text" name="name" formControlName="fullname" placeholder="Enter Your Full Name"
					[(ngModel)]="order.client.fullname" required>
				<span class="form-error" [hidden]="f.get('client.fullname').valid || (f.get('client.fullname').pristine && !bForm.submitted)">Full Name is required</span>
			</div>
			<div class="form-field">
				<label class="input-label" for="contact">Contact*:</label>
				<input type="text" name="contact" formControlName="contact" placeholder="e.g phone no. or email"
					[(ngModel)]="order.client.contact" required>
				<span class="form-error" [hidden]="f.get('client.contact').valid || (f.get('client.contact').pristine && !bForm.submitted)">A valid Email or Phone No. is required</span>
			</div>
			<div class="form-field">
				<label class="input-label" for="address">Address*:</label>
				<input type="text" name="address" formControlName="address" placeholder="Enter your Location"
					[(ngModel)]="order.client.address" required>
				<span class="form-error" [hidden]="f.get('client.address').valid || (f.get('client.address').pristine && !bForm.submitted)">Address is required</span>
			</div>
		</div>
		<div class="form-field">
			<label class="input-label" for="provider">Select Provider*:</label>
			<select id="provider" name="provider" formControlName="provider" [(ngModel)]="order.provider" required>
				<option *ngFor="let item of providers" [ngValue]="item">{{item.provider.fullname}} - KSHS  {{item.cost}}</option>
			</select>
			<span class="form-error" [hidden]="f.get('provider').valid || (f.get('provider').pristine && !bForm.submitted)">Provider is required</span>
		</div>
		<div class="form-field">
			<input type="hidden" name="product" [(ngModel)]="order.product" formControlName="product">
			<button class="input-btn" type="submit" [disabled]="bForm.invalid">Request Now</button>
			
			<a class="link" *ngIf="order_link; else prntOrder" target="_blank"
					href="{{order_link}}">Download Order Details</a>
			<ng-template #prntOrder>
				<button *ngIf="order_id" class="input-btn" type="button" 
					(click)="printOrder(order_id)">Save Order Details(as PDF)</button></ng-template>
		</div>
	</form>
</div>
<ng-template #loadingService><i>Loading ...</i></ng-template>