.app-services-service-detail{
	padding: 5px;
}

.service-detail-header{
	text-align: center;
}

.service-detail{
	list-style-type: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.detail-item{
	margin: 4px;
	padding: 5px;
}