<div class="app-messaging" *ngIf="messages.info.length || messages.errors.length">
	<button class="clear-message" (click)="messages.clear()">&times;</button>
	<span class="info" *ngFor="let info of messages.info">{{info}}</span>
	<span class="error" *ngFor="let error of messages.errors">Error: {{error}}</span>
</div>
