.app-messaging{
	position: fixed;
	bottom: 20px;
	right: 10px; left: 10px;
	z-index: 999;
	opacity: 0.9;
	background-color: #FFECB3;
	border-radius: 4px;	
	padding: 5px;
}

.messages{
}

.info{
	color: blue;
	float: left;
	clear: both;
}
.error{
	color: red;
	float: left;
	clear: both;
}

.clear-message{
	border-radius: 10px;
	background-color: red;
	border: none;
	float: right;
	font-size: 1.2em;
	cursor: pointer;
	color: #fff;
}