.app-provider{
	padding: 5px;
}

.provider-header{
	text-align: center;
}

.provider-nav{
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 90px;
}

.provider-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.provider-item{
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 4px;
	padding: 5px;
	float: left;
	height: auto;
	min-height: 150px;
	width: 280px;
}

.provider-item:hover{
	background-color: #dfdfdf;
}

.provider-nav{
	text-align: center;
}

.update-form{
	background-color: #fff;
	height: 200px;
}