<div class="app-provider" *ngIf="users">
	<h2 class="provider-header">{{title}}</h2>
	<nav class="provider-nav">
		<input type="search" class="input-text" name="search_user" placeholder="Search Users">
		<a class="link" *ngIf="users_link && !printed_id; else prntUsers" target="_blank" 
			href="{{users_link}}">View Printed Users' Details</a>
		<ng-template #prntUsers><button class="input-btn"
			(click)="printProviders('all')">Save all Providers' Details(as PDF)</button></ng-template>
	</nav>
	<ul *ngIf="users.length; else loadingUsers" class="provider-list">
		<li *ngFor="let user of users" class="provider-item">
			<h3>{{user.username}}</h3><hr width="90%" align="center">
			<p>Role: {{user.role}}</p>	
			<p>User Account Status: {{user.status}}</p>
			<p><b>User Details</b><br>Name: {{user.fullname}}<br>Address: {{user.address}}<br>Contact: {{user.contact}}</p>
			<button type="button" class="input-btn"
				[hidden]="selected_id"
				[disabled]="user.id == auth.authToken.uid"
				(click)="selected_id = user.id">Update User's Account</button>
			<form class="update-form"
				[formGroup]="uf" (ngSubmit)="update()" *ngIf="selected_id === user.id">
				<div class="form-field">
					<label>Update Role:</label>
					<select name="role" formControlName="role" [(ngModel)]="user.role">
						<option value="UNKNOWN">- Select Role -</option>
						<option value="PROVIDER">Provider</option>
						<option value="ADMIN">ADMIN</option>
					</select>
				</div>
				<div class="form-field">
					<label>Update Account Status:</label>
					<select name="status" formControlName="status" [(ngModel)]="user.status">
						<option value="UNKNOWN">- Select Status -</option>
						<option value="ACTIVE">Active</option>
						<option value="INACTIVE">Inactive</option>
					</select>
				</div>
				<button class="input-btn" type="submit" [disabled]="uf.inavlid">Update</button>
				<button class="input-btn" type="button" (click)="selected_id = null">Cancel/Close</button>
			</form>
			<h4>
				<a class="link" *ngIf="users_link && printed_id == user.id; else prntUser"
					target="_blank" href="{{users_link}}">View Printed User's Details</a>
				<ng-template #prntUser><button class="input-btn" *ngIf="user.role == 'PROVIDER'"
					(click)="printProviders(user.id)">Save Provider's Details(as PDF)</button></ng-template>
			</h4>
		</li>
	</ul>
	<ng-template #loadingUsers><i>Loading User Accounts... </i></ng-template>
</div>