<div class="app" *ngIf="auth.authToken; else loadingApp">
  <div class="app-header">
    <h1 class="header">{{title}}</h1>

    <ul class="dashboard-links">
      <li class="nav-item">
        <a class="link" *ngIf="!auth.authToken.l" routerLink="/auth">Login</a>
        <a class="link" *ngIf="auth.authToken.l" routerLink="/dashboard">{{auth.authToken.uname}}</a>
      </li>
      <ul class="nav-items">
        <li class="nav-item" *ngIf="auth.authToken.role=='ADMIN'">
            <a class="link" routerLink="/dashboard/orders">Orders</a>
        </li>
        <li class="nav-item" *ngIf="auth.authToken.role=='ADMIN'">
            <a class="link" routerLink="/dashboard/users">Users</a>
        </li>
        <li class="nav-item" *ngIf="auth.authToken.role=='ADMIN'">
            <a class="link" routerLink="/dashboard/new">Add Service</a>
        </li>
        <li class="nav-item" *ngIf="auth.authToken.role=='PROVIDER'">
          <a class="link" routerLink="/dashboard/orders/{{auth.authToken.uid}}">Orders</a>
        </li>
        <li class="nav-item" *ngIf="auth.authToken.l"><a class="link" href="/?logout=true">Logout</a></li>
      </ul>     
    </ul>

    <nav class="app-nav">
      <ul class="nav-items">
        <li class="nav-item"><a class="link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="link" routerLink="/services">Services</a></li>
        <li class="nav-item"><a class="link" routerLink="/about">About</a></li>
      </ul>
    </nav>
  </div>

  <div class="app-content-wrapper">
    <router-outlet></router-outlet><!--  -->
  </div>

  <div class="app-footer">
    Copyright &copy; 2018, IF/XX/YY | Designed By Marion Jepchumba
    <!-- <a href="https://bingwah.com" class="link" target="_blank" hidden>Bingwah Systems</a> -->
  </div>
</div>
<app-messaging></app-messaging>
<ng-template #loadingApp><h1 align="center" style="color: blue;"><i>Loading...</i></h1></ng-template>