.app{
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	background-image: url('../assets/bg.jpg');
}

.app-header{
	position: fixed;
	top: 0; left: 0; right: 0;
	height: 90px;
	z-index: 999;
	background-color: #f3f6f6;
}

.header{
	padding: 4px;
	margin: 0;
	/*font-size: 1em*/
}

.app-nav{
	position: absolute;
	bottom: 0;
	right: calc( 50% - 126px );
	left: calc( 50% - 126px );
	height: auto;
	/*background-color: #fff;*/
}

.nav-items{
	height: auto;
	margin: 0 auto;
	padding: 0;	
}

.nav-item{
	width: 80px;
	list-style-type: none;
	float: left;
	text-align: center;
	height: 20px;
	background-color: #dce8e7;
	margin: 2px;
}

.nav-item:hover{
	background-color: #dcffb3;
}

.dashboard-links{
	position: absolute;
	z-index: 99;
	top: 40px; right: 5px;
	margin: 0;
	padding: 0;
}

.dashboard-links > ul{
	border: none;
	display: none;
	clear: both;
}

.dashboard-links > ul > li{
	text-align: center;
	width: 90px;
	clear: both;
}

.dashboard-links:hover > ul{
	display: block;
}

.dashboard-links:hover > span{
	display: none;
}

.app-content-wrapper{
	position: absolute;
	top: 92px; right: 10px; left: 10px; bottom: 45px; 
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	overflow: hidden;
	overflow-y: scroll;
}

.app-footer{
	position: absolute;
	height: auto;
	bottom: 0; left: 10px; right: 10px;
	padding: 2px;
	text-align: center;
	background-color: #cdd5d5;
}