<div class="app-service-list" *ngIf="services; else noServices">
	<h2 class="service-list-header">{{title}}</h2>
	<nav class="service-list-nav">
		<input type="search" class="input-text" name="search_service" placeholder="Search Services">
		<div *ngIf="auth.authToken.role=='ADMIN'">
			<a class="link" target="_blank" *ngIf="services_file && !selected_id; else prntServices" href="{{services_file}}">Download Service(s) Details</a>
			<ng-template #prntServices>
				<button class="input-btn"(click)="printServices('all')">Save all Services' Details(as PDF)</button>
			</ng-template>
		</div>
	</nav>
	<ul *ngIf="services.length; else loadingServices" class="service-list">
		<li *ngFor="let service of services" class="service-item">
			<h3>{{service.label}}</h3><hr width="90%" align="center">
			<img class="service_img" src="{{service.image}}" alt="{{service.label}}">
			<p>Cost Kshs.: {{service.service_fee}}</p>
			<a class="link" routerLink="/services/{{service.id}}">See More</a><br/>
			<span *ngIf="auth.authToken.l">
				<a class="link" *ngIf="auth.authToken.role=='ADMIN'" routerLink="/dashboard/update/{{service.id}}">
					Edit Service</a>
				<button type="button" class="input-btn" *ngIf="auth.authToken.role=='PROVIDER'"
					(click)="request(service)">Request to be Provider</button>
			</span>
		</li>
	</ul>
	<ng-template #loadingServices><i>No Services to Display</i></ng-template>
</div>
<ng-template #noServices><i>Loading Services.. </i></ng-template>