.app-service-list{
	padding: 5px;
}

.service-list-header{
	text-align: center;
}

.service-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.service-item{
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 4px;
	padding: 5px;
	float: left;
	height: 380px;
	width: 280px;
}

.service-item:hover{
	background-color: #dfdfdf;
}

.service-list-nav{
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 90px;
}