<div class="app-booking-list" *ngIf="orders">
	<h2 class="booking-list-header">{{title}}</h2>
	<nav class="booking-list-nav">
		<input type="search" class="input-text" name="search_order" placeholder="Search Orders">
		<a class="link" *ngIf="orders_link && !printed_id; else prntOrders" target="_blank" 
			href="{{orders_link}}">View Printed Orders' Details</a>
		<ng-template #prntOrders><button class="input-btn"
			(click)="printOrders('all')">Save all Orders' Details(as PDF)</button></ng-template>
	</nav>
	<ul *ngIf="orders.length; else loadingorders" class="booking-list">
		<li *ngFor="let order of orders" class="booking-item">
			<h3><a class="link" routerLink="/services/{{order.product.id}}">{{order.product.label}}</a></h3><hr width="90%" align="center">
			<p>service Fee Kshs.: {{order.product.service_fee}}</p>	
			<p>Order Status: {{order.status}}</p>
			<p><b>Client Details</b><br>Name: {{order.client.fullname}}<br>Address: {{order.client.address}}<br>Contact: {{order.client.contact}}</p>
			<button type="button" class="input-btn"
				*ngIf="!selected_id" (click)="selected_id = order.id">Update Order</button>
			<form class="update-form"
				[formGroup]="bf" #bform="ngForm" (ngSubmit)="update()" *ngIf="selected_id === order.id">
				<div class="form-field">
					<label>Update Status:</label>
					<select formControlName="status" [(ngModel)]="order.status">
						<option value="UNKNOWN">- Select Status -</option>
						<option value="COMPLETED">Completed</option>
						<option value="SUSPENDED">Suspended</option>
					</select>
				</div>
				<button class="input-btn" type="submit" [disabled]="bf.inavlid">Update</button>
				<button class="input-btn" type="button" (click)="selected_id = null">Cancel/Close</button>
			</form>
			<h4>
				<a class="link" *ngIf="orders_link && printed_id == order.id; else prntOrder"
					target="_blank" href="{{orders_link}}">View Printed Order's Details</a>
				<ng-template #prntOrder><button class="input-btn"
					(click)="printOrders(order.id)">Save Order Details(as PDF)</button></ng-template>
			</h4>
		</li>
	</ul>
	<ng-template #loadingorders><i>Loading orders.. </i></ng-template>
</div>