/* You can add global styles to this file, and also import other style files */
@import url('./assets/form.css');
.link{
	color: #03A9F4;
	cursor: pointer;
	cursor: hand;
	text-decoration: none;
}

.link:hover{
	color: #008bfa;
}

.service_img{
	border: 1px solid #ccc;
	border-radius: 4px;
	max-height: 220px;
	max-width: 250px;
}