.app-main-home{
	padding: 5px;
}

.home-header{
	text-align: center;
}

div.slider-wrapper{
	border: 4px solid #486260;
    margin-left: 15%;
    margin-right: 15%;
    /*margin: 8px auto;*/
    box-shadow: 5px 5px 5px #888888;
}

div.img-container{
    width: 100%;
    padding-bottom: 62.5%;
    position: relative;
    overflow: hidden;

}

.social{
    height: 110px;
    margin: 10px auto;
    max-width: 330px;
}

.icon-link{
    
}

.icon{
    height: 100px;
    width: 100px;
    float: left;
}

div.img-container > div{
    bottom: 0; left: 0;
    position: absolute; right: 0; top: 0; 

}

.holder{
    width: 100%;
    width: 100%;
}

div.show-slide > img:hover + a, a.slide-title:hover {
    opacity: 0.7;
    height: 40px;
}

.slide-div{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;

}

.show-slide{
    display: block;
}

.slider-img{
    position: absolute;
	max-height: 100%;
	max-width: 100%;
}

.slide-title{
    position: absolute;
    bottom: 0;
    height: 20px;
    right: 0;
    left: 0;
    background-color: #000;/*#989898*/
    color: #ffffff;
    opacity: 0.7;
    display: block;
    text-align: center;
}

.prev, .next{
    cursor: pointer;
    width: 20px;
    height: 30px;
    border-radius: 3px;
    position: relative;
    bottom: 1%;
    text-align: center;
    font-size: x-large;
    color: #009688;
    display: block;

}

.prev{
    float: left;
}

.next{
    float: right;
}

.prev:hover, .next:hover {
    background-color: #ffffff; 
    color: #009688; 
}