<div class="app-main-home">
	<h2 class="home-header">{{title}}</h2>
	<div class="slider-wrapper">
		<div class="img-container">
			<div>
				<div class="holder">
					<div class="slide-div" *ngFor="let slide of slides; let i = index" [ngClass]="{'show-slide': i === currentIndex}">
						<img class="slider-img" src="assets/gallery/{{slide.image}}" alt="{{slide.name}}">
						<a class="link slide-title" (click)="gotoServices()">{{slide.name}}</a>
					</div>
				</div>
			</div>
		</div>
		<div id="prev-slide" class="prev" title="Previous" (click)="prevSlide()">&#8678;</div>
		<div id="next-slide" class="next" title="Next" (click)="nextSlide()">&#8680;</div>
	</div>
	<div class="social">
		<a href="https://fb.com/maryelymo" target="_blank" class="link icon-link"><img class="icon" src="assets/icons/fb.png" alt="Facebook"></a>
		<a href="https://twitter.com/marionlimo" target="_blank" class="link icon-link"><img class="icon" src="assets/icons/twitter.png" alt="Twitter"></a>
		<a href="mailto:marionjepchumba@gmail.com" target="_blank" class="link icon-link"><img class="icon" src="assets/icons/gmail.png" alt="Gmail"></a>
	</div>
</div>